<footer class="w3s-footer bg-pure-dark py-2">
    <div class="container">
        <div class="w3s-footer-widgets py-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="w3s-footer-logo">
                        <img src="/assets/img/logo_dark.png" class="img-fluid" alt="logo">
                    </div>
                    <p class="w3s-footer-description white-text font-14 pt-4">Inscrivez-vous pour recevoir les dernières nouvelles et mises à jour directement dans votre boîte de réception</p>
                    <div class="w3s-social-link py-3">
                        <ul class="list-unstyled d-flex justify-content-start font-20">
                            <li><a href="#" class="white-text p-2 link-hover"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" class="white-text p-2 link-hover"><i class='bx bxl-twitter' ></i></a></li>
                            <li><a href="#" class="white-text p-2 link-hover"><i class='bx bxl-google-plus' ></i></a></li>
                            <li><a href="#" class="white-text p-2 link-hover"><i class='bx bxl-youtube' ></i></a></li>
                            <li><a href="#" class="white-text p-2 link-hover"><i class='bx bxl-instagram' ></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="font-18 mt-3 font-roboto text-white">LIENS UTILES</h2>
                    <ul class="list-unstyled my-3 mt-4 font-poppins">
                        <li class="mt-2"><a href="about.html" class="link-hover font-14 white-text text-decoration-none">Mon Compte</a></li>
                        <li class="mt-2"><a href="faq.html" class="link-hover font-14 white-text text-decoration-none">Mes Commandes</a></li>
                        <li class="mt-2"><a href="faq.html" class="link-hover font-14 white-text text-decoration-none">Mon Panier</a></li>
                        <li class="mt-2"><a href="faq.html" class="link-hover font-14 white-text text-decoration-none">Liste de Souhaits</a></li>
                        <li class="mt-2"><a href="faq.html" class="link-hover font-14 white-text text-decoration-none">Service Client</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="font-18 mt-3 font-roboto text-white">Contactez nous</h2>
                    <ul class="list-unstyled mt-4 my-3 font-poppins">
                    <li class="d-flex">
                        <p class="white-text font-20"><i class='bx bx-location-plus' ></i></p>
                        <p class="white-text font-14 ms-4">YOFF/Route de L'aéroport</p>
                    </li>
                    <li class="d-flex my-4">
                        <p class="white-text font-20"><i class='bx bx-mail-send'></i></p>
                        <a href="info@domain.com" class="white-text font-14 link-hover text-decoration-none ms-4">info@hijabshop.com</a>
                    </li>
                    <li class="d-flex">
                        <p class="white-text font-20"><i class='bx bx-mobile-alt' ></i></p>
                        <p class="white-text ms-4 font-14">00338646446</p>
                    </li>
                    </ul>              
                </div>
            </div>
        </div>
    </div>
</footer>