<header id="w3s_header" class="w3s-header-section">

  <!-- Main Menu -->
  <nav class="w3s-navigation navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600119/59070200-user-icon-man-profil-homme-d-affaires-avatar-personne-ic%C3%B4ne-illustration-vectorielle.jpg?ver=6" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Mon profil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Deconnection</a></li>
        </ul>
      </div>
      <button
        class="navbar-toggler border-0 rounded-0 form-focus"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="w3s-nav-menu mt-3 mt-lg-0 collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-lg-4 active">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover active" href="/admin">Tableau de bord</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/admin/utilisateurs">Utilisateurs</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/admin/ventes">Ventes</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/admin/articles">Articles</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/admin/categories">Categories</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- !Main Menu -->
</header>
