<header id="w3s_header" class="w3s-header-section">

  <!-- Main Menu -->
  <nav class="w3s-navigation navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/img/logo_dark.png" class="img-fluid" alt="logo_light" />
      </a>
      <button
        class="navbar-toggler border-0 rounded-0 form-focus"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="w3s-nav-menu mt-3 mt-lg-0 collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-lg-4 active">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover active" href="/">Accueil</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/articles">Articles</a>
          </li>
          <li class="nav-item mx-lg-4">
            <a class="nav-link text-uppercase font-14 fw-500 link-hover" href="/a-propos">Apropos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- !Main Menu -->
</header>
