<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
  
    <!-- Start Page Breadcrumb -->
    <section class="w3s-breadcrumb bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="font-28 font-roboto fw-bold mb-0">A propos</h3>
          </div>
          <div class="col-md-6">
            <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">A propos</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Breadcrumb -->

    <!-- Start About info -->
    <section class="w3s-about-info my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="my-2">
              <img src="assets/img/about_img.jpg" class="img-fluid" alt="about us image">
            </div>
          </div>
          <div class="col-md-7 align-items-center">
            <div class="mt-5 me-4">
              <h2 class="dark-text font-32 text-start">Qui sommes-nous ?</h2>
              <p class="py-2 font-poppins font-16 secondary-text">
                La boutique en ligne HIJAB SHOP est ouverte à toutes les femmes à la recherche de pudeur et d’élégance voulant allier tendance et éthique dans le style du modest fashion hijab. Vous trouverez un large choix de vêtement moderne et pudique à petit prix, des abayas, robe pour femme pas cher, des robes cérémonies des ensembles pantalons descents, des ensembles jupes avec gilets et top, robe orientale, des abaya kimono, des tuniques pour femmes, des hijabs, tenue de sportb, burkini, des accessoires hijab et des Jilbab.
HIJAB SHOP s’efforce à satisfaire sa clientèle partout dans le monde en proposant le meilleur vêtement avec une qualité garantie.
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About info -->

    <!-- Start about feature -->
    <section class="w3s-contact-info-section bg-light-blue py-5">
      <div class="container">
        <div class="row">
          <div class="pt-5">
            <h2 class="font-roboto font-32 dark-text text-center mb-3">Pourquoi Nous choisir? </h2>
            <p class="font-poppins secondary-text font-16 w-50 mx-auto text-center mb-4">HIJAB SHOP est une boutique de vêtement spécialisée dans la confection de tenues descentes pour femme. Nous appliquons nos créations aux styles,
             aux couleurs et aux motifs à la fois moderne et traditionnel 
              puis nous le combinons aux modest fashion hijab.</p>
          </div>
        </div>
        <div class="mb-5">
          <div class="row">
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-pencil-square"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Design Creatif</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">Nous avons pensé aux femmes <br> musulmanes,
                 , nous avons préparé <br> pour elle  un magnifique assortiment de longues
                  robes orientales qui répondent à différents goûts et à des normes de qualité élevées</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-stickies"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Disposition Flexibles</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">Nous avons pensé aux femmes <br> musulmanes,
                  , nous avons préparé <br> pour elle  un magnifique assortiment de longues
                   robes orientales qui répondent à différents goûts et à des normes de qualité élevées</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-envelope"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Email Marketing</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">Nous avons pensé aux femmes <br> musulmanes,
                  , nous avons préparé <br> pour elle  un magnifique assortiment de longues
                   robes orientales qui répondent à différents goûts et à des normes de qualité élevées</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact info -->
        


    <!-- Start News letter -->
    <section class="w3s-newsletter-section bg-primary py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="font-30 white-text font-roboto text-start py-3 m-0">S'ABONNER À NOTRE NEWSLETTERS </h4>
          </div>
          <div class="col-md-6">
            <form action="#">
              <div class="row">
                <div class="overflow-hidden d-flex">
                  <input type="text" class="newsletter-input font-16 mt-2 focus-none form-control form-control-lg rounded-0" placeholder="Votre Adresse Email">
                  <button class="newsletter-btn btn btn-primary bg-dark mt-2 rounded-0">S'ABONNER</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End News letter -->
  
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>

</html>
