<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
  
    <!-- Start Page Breadcrumb -->
    <section class="w3s-breadcrumb bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="font-28 font-roboto fw-bold mb-0">A propos</h3>
          </div>
          <div class="col-md-6">
            <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">A propos</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Breadcrumb -->

    <!-- Start About info -->
    <section class="w3s-about-info my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="my-2">
              <img src="assets/img/about_img.jpg" class="img-fluid" alt="about us image">
            </div>
          </div>
          <div class="col-md-7 align-items-center">
            <div class="mt-5 me-4">
              <h2 class="dark-text font-32 text-start">Who We are </h2>
              <p class="py-2 font-poppins font-16 secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. consequuntur quibusdam enim expedita sed nesciunt incidunt accusamus adipisci officia libero laboriosam!</p>
              <p class="py-2 font-poppins font-16 secondary-text">Proin gravida nibh vel velit auctor aliquet. nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vultate cursus a sit amet mauris. Duis sed odio sit amet nibh vultate cursus a sit amet mauris.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About info -->

    <!-- Start about feature -->
    <section class="w3s-contact-info-section bg-light-blue py-5">
      <div class="container">
        <div class="row">
          <div class="pt-5">
            <h2 class="font-roboto font-32 dark-text text-center mb-3">Why Choose Us? </h2>
            <p class="font-poppins secondary-text font-16 w-50 mx-auto text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="mb-5">
          <div class="row">
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-pencil-square"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Creative Design</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-stickies"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Flexible Layouts</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="w3s-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
                <div class="mb-3">
                  <span class="w3s-address-icon rounded-pill primary-text"><i class="bi bi-envelope"></i></span>
                </div>
                <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Email Marketing</h3>
                <p class="font-poppins font-16 mb-3 secondary-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact info -->

    <!-- Team  -->
    <section class="w3s-team-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="font-32 dark-text pt-5 pb-4 font-roboto text-center">Our Team Members</h1>
            <p class="font-16 mx-auto text-center secondary-text w-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-4 p-3">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/team_img1.jpg" class="img-fluid w-100" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">John Muniz</h6>
                <p class="font-16 secondary-text">CEO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/team_img2.jpg" class="img-fluid w-100" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">John Muniz</h6>
                <p class="font-16 secondary-text">CEO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/team_img3.jpg" class="img-fluid w-100" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">John Muniz</h6>
                <p class="font-16 secondary-text">CEO</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/team_img4.jpg" class="img-fluid w-100" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bxl-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">John Muniz</h6>
                <p class="font-16 secondary-text">CEO</p>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
</section>
<!-- End Team  -->
        
    <!-- Start Testimonial -->
    <section class="w3s-testimonial-section bg-redon py-5 my-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="font-32 dark-text pt-5 pb-4 font-roboto text-center">Our Client Say!</h1>
          </div>
        </div>
        <!-- testimonial slider -->
        <div id="w3s_testimonial_carousel" class="carousel slide" data-bs-ride="w3s_testimonial_carousel">
          <div class="carousel-inner">
            
            <div class="carousel-item text-center active">
              <p class="font-poppins font-16 secondary-text w-75 mx-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, in ut. Praesentium, fuga, mollitia nihil voluptatem error corrupti labore sed unde iure corporis totam. Debitis sequi explicabo quibusdam, deleniti ipsam fugiat harum neque recusandae, mollitia velit laudantium quam vero.</p>
              <div class="d-flex justify-content-center my-4">
                <div class="w3s-author-img">
                  <img src="assets/img/user_img1.jpg" class="img-fluid" alt="testimonial author image">
                </div>
                <div class="w3s-author-info text-start ms-2">
                  <h4 class="font-20 dark-text font-roboto">Disay Lana</h4>
                  <span class="font-poppins font-14 primary-text">Developer</span>
                </div>
              </div>
            </div>
            <div class="carousel-item text-center">
              <p class="font-poppins font-16 secondary-text w-75 mx-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, in ut. Praesentium, fuga, mollitia nihil voluptatem error corrupti labore sed unde iure corporis totam. Debitis sequi explicabo quibusdam, deleniti ipsam fugiat harum neque recusandae, mollitia velit laudantium quam vero.</p>
              <div class="d-flex justify-content-center my-4">
                <div class="w3s-author-img">
                  <img src="assets/img/user_img2.jpg" class="img-fluid" alt="testimonial author image">
                </div>
                <div class="w3s-author-info text-start ms-2">
                  <h4 class="font-20 dark-text font-roboto">Disay Lana</h4>
                  <span class="font-poppins font-14 primary-text">Developer</span>
                </div>
              </div>
            </div>
            <div class="carousel-item text-center">
              <p class="font-poppins font-16 secondary-text w-75 mx-auto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, in ut. Praesentium, fuga, mollitia nihil voluptatem error corrupti labore sed unde iure corporis totam. Debitis sequi explicabo quibusdam, deleniti ipsam fugiat harum neque recusandae, mollitia velit laudantium quam vero.</p>
              <div class="d-flex justify-content-center my-4">
                <div class="w3s-author-img">
                  <img src="assets/img/user_img3.jpg" class="img-fluid" alt="testimonial author image">
                </div>
                <div class="w3s-author-info text-start ms-2">
                  <h4 class="font-20 dark-text font-roboto">Disay Lana</h4>
                  <span class="font-poppins font-14 primary-text">Developer</span>
                </div>
              </div>
            </div>
            
            <!-- Slider Navigation -->
            <a class="carousel-control-prev mt-md-0 mt-5" href="#w3s_testimonial_carousel" role="button" data-bs-slide="prev">
              <span class="dark-text font-30"><i class='bx bx-chevron-left' ></i></span>
            </a>
            <a class="carousel-control-next mt-md-0 mt-5" href="#w3s_testimonial_carousel" role="button" data-bs-slide="next">
              <span class="dark-text font-30"><i class='bx bx-chevron-right' ></i></span>
            </a>
          </div>
        </div>
        <!-- !testimonial slider -->
      </div>
    </section>
    <!-- End Testimonial -->

    <!-- Start Services -->
    <div class="w3s-services-section py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-4 border-end">
                <div class="w3s-service-info text-center">
                  <span class="font-40 secondary-text"><i class="bi bi-truck"></i></span>
                  <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">Free Delivery</h3>
                  <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">If you are going to use of Lorem, you need to be sure there anything</p>
                </div>
              </div>
              <div class="col-md-4 border-end">
                <div class="w3s-service-info text-center">
                  <span class="font-40 secondary-text"><i class="bi bi-box-arrow-down-left"></i></span>
                  <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">30 Day Return</h3>
                  <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">If you are going to use of Lorem, you need to be sure there anything</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="w3s-service-info text-center">
                  <span class="font-40 secondary-text"><i class="bi bi-headset"></i></span>
                  <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">27/4 Support</h3>
                  <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">If you are going to use of Lorem, you need to be sure there anything</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- End Services -->

    <!-- Start News letter -->
    <section class="w3s-newsletter-section bg-primary py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="font-30 white-text font-roboto text-start py-3 m-0">Subscribe Our Newsletter </h2>
          </div>
          <div class="col-md-6">
            <form action="#">
              <div class="row">
                <div class="overflow-hidden d-flex">
                  <input type="text" class="newsletter-input font-16 mt-2 focus-none form-control form-control-lg rounded-0" placeholder="Enter Email Address">
                  <button class="newsletter-btn btn btn-primary bg-dark mt-2 rounded-0">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End News letter -->
  
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>

</html>
