<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>

    <!-- Start Page Breadcrumb -->
    <section class="w3s-breadcrumb bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="font-28 font-roboto fw-bold mb-0">Articles</h3>
          </div>
          <div class="col-md-6">
            <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" href="#">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Articles</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Breadcrumb -->

    <!-- Start Shop -->
    <section class="w3s-faq-section mt-5 py-4">
      <div class="container">
        <!-- Product Filter -->
        <div class="row w3s-filter">
          <div class="col-md-3">
            <select class="form-select form-select-lg mb-3 font-16 form-focus">
              <option selected>Default Shoting</option>
              <option value="">One</option>
              <option value="">Two</option>
              <option value="">Three</option>
            </select>
          </div>

          <div class="col-md-4 offset-md-5">
            <div class="d-flex justify-content-end">
              <button class="btn hover-btn mb-3 border"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
              </svg></button>
            
              <button class="active btn hover-btn mb-3 border mx-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
              </svg></button>
          
              <select class="form-select w-50 form-select-lg mb-3 font-16 form-focus">
                <option selected>Default Shoting</option>
                <option value="">One</option>
                <option value="">Two</option>
                <option value="">Three</option>
              </select>
            </div>
          </div>
        </div>
        <!-- !Product Filter -->
        <div class="row">
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img1.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img11.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img3.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img10.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img2.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img4.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img7.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img6.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img2.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img4.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img3.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 p-3 w3s-product-item best-sellar feature mix">
            <div class="w3s-product-card card">
              <div class="w3s-product-img overflow-hidden cursor-pointer position-relative bg-dark">
                <img src="assets/img/product_img5.jpg" class="img-fluid" alt="product" />
                <div class="w3s-product-action-btn position-absolute top-50 start-50 translate-middle">
                  <ul class="list-unstyled d-flex">
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn"><i class="bx bx-cart"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-slider-alt"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-zoom-in"></i></a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 bg-white dark-text font-18 d-inline-block ms-2 hover-btn"><i class="bx bx-heart"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="w3s-product-info bg-white p-3">
                <h6 class="font-16 link-hover font-roboto cursor-pointer text-capitalize">Blue Dress For Woman</h6>
                <div class="w3s-product-price">
                  <span class="primary-text font-16 fw-bold">$45.00</span>
                  <del class="secondary-text mx-2">%55.25</del>
                  <span class="font-16 success-text">35% off</span>
                </div>
              </div>
              <div class="w3s-rating-box px-3 d-flex">
                <ul class="list-unstyled d-flex font-14 justify-content-start">
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="fas fa-star-half-alt"></i></a>
                  </li>
                  <li>
                    <a href="#" class="warning-text"><i class="far fa-star"></i></a>
                  </li>
                </ul>
                <span class="success-text font-16 ms-2">(22)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="row">
          <ul class="w3s-pagination text-center list-unstyled mt-4">
            <li class="d-inline-block mx-1">
              <a class="dark-text border text-decoration-none hover-btn font-16 font-poppins py-2 px-3" href="#" aria-label="Previous">
                <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg></span>
              </a>
            </li>
            <li class="d-inline-block mx-1"><a class="active dark-text border text-decoration-none hover-btn font-16 font-poppins py-2 px-3" href="#">1</a></li>
            <li class="d-inline-block mx-1"><a class="dark-text border text-decoration-none hover-btn font-16 font-poppins py-2 px-3" href="#">2</a></li>
            <li class="d-inline-block mx-1"><a class="dark-text border text-decoration-none hover-btn font-16 font-poppins py-2 px-3" href="#">3</a></li>
            <li class="d-inline-block mx-1">
              <a class="dark-text border text-decoration-none hover-btn font-16 font-poppins py-2 px-3" href="#" aria-label="Next">
                <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- End Shop -->

    

    <!-- Start News letter -->
    <section class="w3s-newsletter-section bg-primary py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="font-30 white-text font-roboto text-start py-3 m-0">Subscribe Our Newsletter </h2>
          </div>
          <div class="col-md-6">
            <form action="#">
              <div class="row">
                <div class="overflow-hidden d-flex">
                  <input type="text" class="newsletter-input font-16 mt-2 focus-none form-control form-control-lg rounded-0" placeholder="Enter Email Address">
                  <button class="newsletter-btn btn btn-primary bg-dark mt-2 rounded-0">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End News letter -->
  
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts') %>
</body>

</html>
